@media screen and (min-width: 1200px) {
  /* ============= COMPONENTS ============= */

  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding: 120px 0;
  }

  /* ============= HEADER ============= */

  .logo {
    margin-right: 130px;
  }

  .header-contact-wrapper {
    flex-direction: row;
    gap: 40px;
    margin-right: 20px;
  }

  /* ============= OUR BARBERS =============== */

  .barbers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .barbers-list > .list-item {
    flex-basis: calc((100% - 30px * 2) / 3);
  }
}
